---
import "@fontsource/inter";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-950 text-zinc-50 min-h-screen w-screen overflow-hidden">
    <header
      class="flex flex-col sm:flex-row gap-6 items-center justify-between max-w-3xl mx-auto px-4 pt-5 pb-10"
    >
      <svg
        width="100%"
        height="100%"
        class="h-4 w-auto text-zinc-50 fill-zinc-50"
        viewBox="0 0 122 17"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
      >
        <g transform="matrix(0.452634,0,0,0.452634,-656.735,-451.585)">
          <g transform="matrix(50,0,0,50,1449.27,1033.93)">
            <path
              d="M0.516,-0.361c0,-0.252 -0.082,-0.364 -0.242,-0.364c-0.159,0 -0.241,0.112 -0.241,0.364c-0.001,0.256 0.081,0.371 0.241,0.371c0.16,-0 0.242,-0.115 0.242,-0.371Zm-0.103,0c0,0.274 -0.036,0.363 -0.139,0.363c-0.103,-0 -0.139,-0.089 -0.139,-0.363c0,-0.269 0.035,-0.356 0.138,-0.356c0.105,0 0.14,0.087 0.14,0.356Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,0,50,1476.58,1033.93)">
            <path
              d="M0.632,-0.453c0,0.006 -0.001,0.015 -0.004,0.023l-0.092,0.307l-0.131,-0.362l-0.015,0l-0.118,0.361l-0.104,-0.303c-0.008,-0.022 -0.01,-0.035 -0.01,-0.05l0.069,-0l0,-0.008l-0.225,0l-0,0.008l0.019,-0c0.023,-0 0.032,0.011 0.043,0.04l0.153,0.437l0.019,-0l0.118,-0.362l0.133,0.362l0.018,-0l0.132,-0.427c0.011,-0.033 0.026,-0.05 0.05,-0.05l0.014,-0l0,-0.008l-0.138,0l0,0.008l0.036,-0c0.023,-0 0.033,0.009 0.033,0.024Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,-7.91922,50,1507.09,1033.93)">
            <path
              d="M0.262,-0.011c-0.097,0 -0.125,-0.083 -0.125,-0.188c0,-0.142 0.046,-0.288 0.155,-0.288c0.051,0 0.065,0.033 0.065,0.073c-0,0.083 -0.046,0.151 -0.149,0.151l-0.036,0l-0,0.007l0.037,0c0.128,0 0.233,-0.047 0.233,-0.143c-0,-0.059 -0.047,-0.096 -0.149,-0.096c-0.151,0 -0.255,0.135 -0.255,0.309c-0,0.13 0.072,0.196 0.178,0.196c0.106,-0 0.166,-0.065 0.176,-0.13l-0.009,0c-0.008,0.054 -0.055,0.109 -0.121,0.109Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,0,50,1532.7,1033.93)">
            <path
              d="M0.247,-0.008l-0.063,0l0,-0.348c0.031,-0.088 0.091,-0.125 0.139,-0.125c0.052,0 0.065,0.034 0.065,0.104l0,0.369l-0.063,0l0,0.008l0.221,0l0,-0.008l-0.063,0l-0,-0.324c-0,-0.122 -0.036,-0.163 -0.136,-0.163c-0.066,0 -0.129,0.032 -0.164,0.118l-0.005,-0.108l-0.152,0l-0,0.008l0.063,-0l-0,0.469l-0.063,-0l-0,0.008l0.221,-0l-0,-0.008Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,0,50,1571.71,1033.93)">
            <path
              d="M0.032,-0.707l0.076,0l0,0.699l-0.076,-0l0,0.008l0.255,-0l0,-0.008l-0.081,-0l0,-0.698l0.064,0c0.122,0 0.148,0.097 0.148,0.198c-0,0.127 -0.046,0.203 -0.129,0.203l-0.05,0l-0,0.008l0.05,0c0.121,0 0.23,-0.067 0.23,-0.211c0,-0.113 -0.067,-0.207 -0.249,-0.207l-0.238,0l0,0.008Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,0,50,1599.07,1033.93)">
            <path
              d="M0.254,-0.008l-0.073,0l0,-0.316c0.012,-0.117 0.054,-0.148 0.074,-0.15c0.012,0.005 0.022,0.028 0.022,0.058c0,0.031 -0.007,0.057 -0.016,0.077l0.003,0.002c0.043,-0.005 0.094,-0.036 0.094,-0.094c0,-0.034 -0.021,-0.064 -0.07,-0.064c-0.049,-0 -0.101,0.032 -0.114,0.155l-0.003,-0l-0.014,-0.145l-0.134,0l0,0.008l0.063,-0l0,0.469l-0.063,-0l0,0.008l0.231,-0l0,-0.008Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,0,50,1616.58,1033.93)">
            <path
              d="M0.467,-0.244c0,-0.167 -0.071,-0.251 -0.214,-0.251c-0.144,0 -0.215,0.084 -0.215,0.251c-0,0.169 0.071,0.254 0.215,0.254c0.143,-0 0.214,-0.085 0.214,-0.254Zm-0.103,0c0,0.176 -0.029,0.246 -0.111,0.246c-0.081,-0 -0.112,-0.07 -0.112,-0.246c0,-0.174 0.031,-0.243 0.112,-0.243c0.082,0 0.111,0.069 0.111,0.243Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,-4.37443,50,1641.29,1033.93)">
            <path
              d="M0.058,-0.341c0,0.065 0.034,0.1 0.115,0.14c0.074,0.038 0.092,0.066 0.092,0.107c0,0.057 -0.042,0.096 -0.108,0.096c-0.071,0 -0.091,-0.039 -0.091,-0.077c-0,-0.025 0.007,-0.052 0.031,-0.068l-0.003,-0.002c-0.045,0 -0.094,0.023 -0.094,0.07c-0,0.047 0.049,0.085 0.155,0.085c0.115,0 0.19,-0.064 0.19,-0.15c0,-0.063 -0.035,-0.097 -0.117,-0.14c-0.071,-0.036 -0.095,-0.065 -0.095,-0.108c-0,-0.059 0.041,-0.099 0.106,-0.099c0.064,0 0.082,0.038 0.082,0.07c-0,0.026 -0.007,0.046 -0.028,0.067l0.002,0.003c0.025,-0.001 0.088,-0.018 0.088,-0.071c0,-0.053 -0.06,-0.077 -0.143,-0.077c-0.109,0 -0.182,0.066 -0.182,0.154Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,-4.37443,50,1660.45,1033.93)">
            <path
              d="M0.058,-0.341c0,0.065 0.034,0.1 0.115,0.14c0.074,0.038 0.092,0.066 0.092,0.107c0,0.057 -0.042,0.096 -0.108,0.096c-0.071,0 -0.091,-0.039 -0.091,-0.077c-0,-0.025 0.007,-0.052 0.031,-0.068l-0.003,-0.002c-0.045,0 -0.094,0.023 -0.094,0.07c-0,0.047 0.049,0.085 0.155,0.085c0.115,0 0.19,-0.064 0.19,-0.15c0,-0.063 -0.035,-0.097 -0.117,-0.14c-0.071,-0.036 -0.095,-0.065 -0.095,-0.108c-0,-0.059 0.041,-0.099 0.106,-0.099c0.064,0 0.082,0.038 0.082,0.07c-0,0.026 -0.007,0.046 -0.028,0.067l0.002,0.003c0.025,-0.001 0.088,-0.018 0.088,-0.071c0,-0.053 -0.06,-0.077 -0.143,-0.077c-0.109,0 -0.182,0.066 -0.182,0.154Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,0,50,1679.86,1033.93)">
            <path
              d="M0.038,-0.243c0,0.179 0.076,0.253 0.216,0.253c0.108,-0 0.159,-0.073 0.159,-0.13l-0.009,0c0,0.052 -0.048,0.114 -0.12,0.114c-0.117,-0 -0.143,-0.087 -0.143,-0.237l0,-0.035l0.263,0c0.009,-0.018 0.014,-0.044 0.014,-0.067c-0,-0.089 -0.047,-0.15 -0.167,-0.15c-0.135,0 -0.213,0.078 -0.213,0.252Zm0.212,-0.244c0.079,0 0.088,0.061 0.088,0.141c0,0.037 -0.009,0.06 -0.043,0.06l-0.154,-0c0.003,-0.127 0.026,-0.201 0.109,-0.201Z"
              style="fill-rule:nonzero;"></path>
          </g>
          <g transform="matrix(50,0,0,50,1702.22,1033.93)">
            <path
              d="M0.254,-0.008l-0.073,0l0,-0.316c0.012,-0.117 0.054,-0.148 0.074,-0.15c0.012,0.005 0.022,0.028 0.022,0.058c0,0.031 -0.007,0.057 -0.016,0.077l0.003,0.002c0.043,-0.005 0.094,-0.036 0.094,-0.094c0,-0.034 -0.021,-0.064 -0.07,-0.064c-0.049,-0 -0.101,0.032 -0.114,0.155l-0.003,-0l-0.014,-0.145l-0.134,0l0,0.008l0.063,-0l0,0.469l-0.063,-0l0,0.008l0.231,-0l0,-0.008Z"
              style="fill-rule:nonzero;"></path>
          </g>
        </g>
      </svg>
      <div class="flex rounded-full bg-zinc-700 p-1 gap-1">
        <a
          href="/"
          data-active="true"
          class="inline-flex bg-zinc-700 text-zinc-200 font-medium text-sm rounded-full px-4 py-2 data-[active=true]:bg-zinc-800 data-[active=true]:text-zinc-100 hover:bg-zinc-800/50 hover:text-zinc-300 transition"
          >Home</a
        >
        <a
          href="/#projects"
          data-active="false"
          class="inline-flex bg-zinc-700 text-zinc-200 font-medium text-sm rounded-full px-4 py-2 data-[active=true]:bg-zinc-800 data-[active=true]:text-zinc-100 hover:bg-zinc-800/50 hover:text-zinc-300 transition"
          >Projects</a
        >
      </div>
    </header>
    <main class="max-w-3xl mx-auto px-4">
      <slot />
    </main>
  </body>
</html>
